/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	border: 2px solid #e0e109;
	height: 200%;
}
nav {
	margin: 0 5%;
	display: flex;
	justify-content: space between;
}
nav a {
	text-decoration: none;
	margin: 2% 2%;
	padding: 2% 2%;
	color: #363232;
}
.logo {
	display: flex;
	align-self: center;
	height: 1%;
}

hr  {
	width: 90%;
	margin: 3% 0;
}
header {
	display: flex;
	margin: auto 5%;
}
header div{
	margin: 0 10%;
text-align: center;
font-size: 5em;
}
header img {
margin: 0 4%;
}
.top-section {
	display: flex;


}
.top-section div {
	margin: auto 5%;
}
.middle-img {
	width: 90%;
	margin:2% 5%;
}
.last-section {
	display: flex;
	margin: 2% 3%;
}
.last-section div {
	width: 35%;
	margin: 0 2%;
}
footer {
	display: flex;
	flex-direction: column;
	margin: 0 5%;
}
address, a {
	line-height: 1.2;
	margin-bottom: 2%;
	color: black;
}
.copyRight {
	text-align: center
}
